<nav class="navbar">
  <div class="container">
    <p>
      {{ "Site" | translate }}
    </p>
    <span class="form-inline">
      <select
        class="form-control"
        #selectedLang
        (change)="switchLang(selectedLang.value)"
      >
        <option
          *ngFor="let language of translate.getLangs()"
          [value]="language"
          [selected]="language === translate.currentLang"
        >
          {{ language }}
        </option>
      </select>
    </span>
  </div>
</nav>

<div class="container">
  <form>
    <div class="form-group">
      <label>{{ "Name" | translate }}</label>
      <input type="text" class="form-control" />
      <small class="text-danger">{{ "NameError" | translate }}</small>
    </div>
    
  </form>

  <br />

  <p ngNonBindable>
    Usar com: {{ "Tag in translation file" | translate }}
  </p>
</div>
